@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

h1, h2 {
    font-family: 'rancho';
}

h1 {
    color: #00361B;
}

h2 {
    color: #508355;
}


.logosite {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.logosite img{
    width: 100%;
}

.hoteis {
    height: 35px auto;
    width: 35px auto;
}




  
   /*Estilizando a nav da classe menu */
    .menu {
    width: 100%;
    height: 50px;
    background-color: #C38570;
    font-family: 'rancho';
    font-size: 1.2rem;
    }

   
   /*Estilizando as listas */
    .menu ul {
    list-style: none;
    position: relative;
    }
   
   .menu ul li {
    width: 150px;
    float: left;
    }
   
   .menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #C38570;
    color: #00361B;
    }
   
   .menu ul ul {
    position: absolute;
    visibility: hidden;
    }
   
   .menu ul li:hover ul {
    visibility: visible;
    }
   
   .menu a:hover {
    background-color: #f4f4f4;
    color: #555;
    }
   
   .menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
    }
   
   .menu ul ul li a {
    background-color: #866965;
    }
   
   /*Criando o label */
    label[for=”bt_menu”]{
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    flex-wrap: wrap;
    }
   
   #bt_menu {
    display: none;
    }
   
   label[for=”bt_menu”]{
    display: none;
    }
   
   /*Deixando o Menu Responsivo */
   @media(max-width: 800px) {
   label[for=”bt_menu”] {
    display: block;
    }
     
   #bt_menu:checked ~ .menu{
    margin-left: 0;
    }
     
   .menu{
    margin-top: 5px;
    margin-left: -100%;
    transition: all .4s;
    }
     
   .menu ul li {
    width: 100%;
    float: none;
    }
     
   .menu ul ul {
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all 4s;
    }
     
   .menu ul li:hover ul {
    height: auto;
    max-height: 200px;
    }